.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-wrapper {
  background-color: #ff8808;
}

/* .deeds {
  background-image: url(./gooddeeds.png);
  height: 300px;
  width: 100%;
  margin-top: 10px;
} */
/* .deeds {
  background-image: url(../src/img/allgo-an-app-for-plus-size-people-VUZVlZs0hLs-unsplash.jpg);
  height: 300px;
  width: 100%;
  margin-top: 10px;
} */

.create-img {
  background: url("../src/assets/elder-1471399_1920.jpg") center center/cover no-repeat, linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  background-blend-mode: overlay;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

/* .create-img:before {
  content: "";
  position: absolute;
  background: #000000;
  object-fit: contain;
} */

.delete-img {
  background: url("../src/assets/wheelchair-908343_1920.jpg") bottom center/cover no-repeat, linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.edit-img {
  background: #000000,
  url("../src/assets/allgo-an-app-for-plus-size-people-ce5ShWF9tAY-unsplash.jpg") center center/cover no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.list-img {
  background: url("../src/assets/allgo-an-app-for-plus-size-people-ce5ShWF9tAY-unsplash.jpg") center center/cover no-repeat, linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.delete {
  background: #fffffff0;
}

.edit {
  background: #fffffff0;
}

.delete-form {
  color: #6f6f6fd9;
  font-size: .75em;
  padding: 5% 5%;
}

.delete > h3 {
  margin-left: 3%;
}

.delete > p {
  margin-left: 3%;
}

.list {
  background: #fffffff0;
}

.list-blurb {
  padding: 0 5%;
}

#table-div {
  padding: 0 5%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table-striped {
  padding-left: 5% !important;
}

.create {
  background: #fffffff0;
}

.create-img > h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #0000008e;
  text-align: center;
}

.list-img > h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #0000008e;
  text-align: center;
}

.delete-img > h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #0000008e;
  text-align: center;
}

.delete-img > h3 {
  font-size: 2em;
}

.create > h3 {
  margin-left: 3%;
}

.list-blurb > h2 {
  font-size: 2em;
}

.create > p {
  margin-left: 3%;
}

.create-form {
  color: #6f6f6fd9;
  font-size: .75em;
  padding: 5% 5%;
}

.col-md-6 > label {
  color: #6f6f6f;
}

.form-group {
  font-weight: bold;
  /* padding: 0 5%; */
}

body {
  background-image: url(./neighborhood.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-wrapper {
  padding-left: 1%;
}



@media only screen and (min-width: 550px) {
  #table-hint {display: none;}
}


@media only screen and (max-width: 992px) {
  #large-nav {display: none;}
  #small-nav a {
    /* background-color: #ff8808 !important; */
    background-color: #fff !important;
    color:#ff8808;
  }

  #small-nav a:hover {
   text-decoration: underline;
  }

  #small-nav ul {
    width: 100%;}
}

@media only screen and (min-width: 992px) {
  #small-nav {display: none;}
}


